extends layout

block content
  div.profileHeader
    div.profilePicture
      img(src='')
  
  div.profileNavgator
    ul 
      li 
        a(href='#') Profile
      li 
       a(href='#') CV/Resume
       
  div.profileContent
    
