doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.navbar
        div.navHeaber 
          img(src='')
          |Hubstaff Directory
        div.navMenu
          ul
            li 
              a(href='#') HOW IT WORKS
            li 
              a(href='#') BROWSER
            li 
              a(href='#') SEARCH
            li 
              a(href='#') START A PROFILE
            li 
              a(href='#') ADD AN AGENCY
    div.navigator 
      a(href='#') < Back to search results
    
    block content
